<div class="personal-info-view">
  <div class="ui card">
    <div class="image">
      <img src={{avatarUrl}}>
    </div>
    <div class="content">
      <a class="header">{{user.name + ' ' + user.lastName}}</a>
      <div class="meta">
        <span class="email">{{user.email}}</span>
      </div>
      <div class="description">
        {{user.role | titlecase}}
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="truck icon"></i>
        {{vehiclesInRent}} Vehicles in rent
      </a>
    </div>
  </div>
</div>
