<div class="box">
  <h2 class="ui header">Your rented vehicles</h2>
  <div class="horizontal-box">
    <table *ngIf="rentedVehicles.length" class="ui celled padded table">
      <thead>
      <tr>
        <th class="single line center aligned"><i class="ui icon hashtag disabled"></i></th>
        <th class="single line center aligned">Vehicle</th>
        <th class="single line center aligned">Rented from</th>
        <th class="single line center aligned">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of rentedVehicles">
        <td class="center aligned disabled index">
          {{rentedVehicles.indexOf(item) + 1}}
        </td>
        <td class="model">
          {{item.model.brand + ' ' + item.model.model}}
        </td>
        <td class="landlord">
          {{item.landlord.name + ' ' + item.landlord.lastName}}
        </td>
        <td>
          <button class="ui primary negative button" type="submit" (click)="onCancelRent.emit(item)">
            Cancel
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div *ngIf="!rentedVehicles.length" class="ui message">
      <div class="header">
        You have no rented vehicles
      </div>
      <p>You can rent a vehicle from the list on the left</p>
    </div>
  </div>
</div>
