<div class="box">
  <h2 class="ui header">Available for rent</h2>
  <div class="horizontal-box">
    <table *ngIf="rentList.length" class="ui celled padded table">
      <thead>
      <tr>
        <th class="single line center aligned"><i class="ui icon hashtag disabled"></i></th>
        <th class="single line center aligned">Vehicle</th>
        <th class="single line center aligned">Landlord</th>
        <th class="single line center aligned">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of rentList">
        <td class="center aligned disabled">
          {{rentList.indexOf(item) + 1}}
        </td>
        <td>
          {{item.model.brand + ' ' + item.model.model}}
        </td>
        <td>
          {{item.landlord.name + ' ' + item.landlord.lastName}}
        </td>
        <td>
          <button class="ui primary positive button" type="submit" (click)="onRentVehicle.emit(item)">
            Rent
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div *ngIf="!rentList.length" class="ui message">
      <div class="header">
        There are no available vehicles
      </div>
      <p>Vehicles will be present when landlord will add them</p>
    </div>
  </div>
</div>
