@import url(http://fonts.googleapis.com/css?family=Ubuntu:500);

html, body {
  height: 100%;
  margin: 0;
  overflow-y: hidden;
  background: white;

}

.main-content {
  width: 100%;
  margin: 0;
  height: calc(100% - 6.75em);
  border-radius: 5px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

footer .a {
  color: white;
}
