<div class="ui inverted menu">
  <div class="header item">
    <i class="shopping basket icon large"></i> Rental Service
  </div>
  <div class="right menu">
    <a class="item" *ngIf="!this.authService.isAuthorized()" href="login">
      <i class="sign in alternate icon"></i> Login
    </a>
    <a class="item" *ngIf="!this.authService.isAuthorized()" href="register">
      Register
    </a>
    <a class="item" *ngIf="this.authService.isAuthorized()" href="logout">
      <i class="sign out alternate icon"></i> Logout
    </a>
  </div>
</div>
<router-outlet></router-outlet>
