<div class="ui inverted menu">
  <div class="header item">
    Rental Service
  </div>
  <a class="item" *ngIf="!this.authService.isAuthorised" href="info">
    Personal Info
  </a>
  <a class="item" *ngIf="this.authService.isAuthorised" href="rent">
    In rent
  </a>
  <a class="item" *ngIf="this.authService.isAuthorised" href="history">
    Requests history
  </a>
  <div class="right menu">
    <a class="item" *ngIf="!this.authService.isAuthorised" href="login">
      Login
    </a>
    <a class="item" *ngIf="this.authService.isAuthorised" href="logout">
      Logout
    </a>
  </div>
</div>
<router-outlet></router-outlet>
