<div class="horizontal-box main-container">
  <div class="personal-info horizontal-box">
      <person-info [user]="user" [message]="userVehicles.length + ' vehicles ' + message"></person-info>
  </div>
  <div class="available">
    <div class="horizontal-box">
      <landlord-vehicles *ngIf="user.role == (UserRole.landlord | uppercase)" [vehicleList]="userVehicles" [modelList]="models" (onAddVehicle)="onAddVehicle($event)"></landlord-vehicles>
      <vehicles-for-rent *ngIf="user.role == (UserRole.customer | uppercase)" [rentList]="availableVehicles" (onRentVehicle)="onRentVehicle($event)"></vehicles-for-rent>
    </div>
  </div>
  <div class="models">
    <div class="horizontal-box">
      <vehicle-models *ngIf="user.role == (UserRole.landlord | uppercase)" [models]="models" (onAddModel)="onAddModel($event)"></vehicle-models>
      <customer-vehicles *ngIf="user.role == (UserRole.customer | uppercase)" [rentedVehicles]="userVehicles" (onCancelRent)="onCancelRent($event)"></customer-vehicles>
    </div>
  </div>
</div>


