.main-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: white;
  margin: 0;
  overflow-y: auto;
}

.horizontal-box {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.vertical-box {
  display: flex;
  flex-direction: column;
}

.available {
  margin: 2em;
  flex-grow: 3;
}

.models {
  flex-grow: 1;
  margin: 2em;
}

.personal-info {
  flex-grow: 1;
}
