.main-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: white;
  margin: 0;
  overflow-y: auto;
}

.horizontal-box {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.vertical-box {
  display: flex;
  flex-direction: column;
}

.available {
  margin: 2em 0;
  flex: 4 0 20%;
}

.models {
  margin: 2em 0;
  flex: 3 0 20%;
}

.personal-info {
  margin: 2em 0;
  flex: 1 0 20%;
}
